.emptyPageContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.emptyPageContainer img {
    width: 400px;
}

.emptyPageTextContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.preloadedImage {
    width: 400px;
    height: 400px;
}